@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #262722;
  background-color: white;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #52573d;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

a {
  color: #553a41;
}

.infoboxes,
.gallery,
.faq,
.contact,
.about,
.team {
  margin: 60px 0;
}

.header,
.infoboxes,
.gallery,
.regist_wrapper,
.faq,
.contact,
.about,
.team {
  margin-left: 40px;
  margin-right: 40px;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 100px);
  position: relative;
}

.hero__content {
  position: absolute;
  bottom: 40px;
  right: 0;
  margin: 30px;
  text-align: right;
}
@media screen and (max-width: 658px) {
  .hero__content {
    width: 325px;
  }
}

.hero__title {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #eaa80b;
  background-color: #f3eddf;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  opacity: 0.8;
}
@media screen and (min-width: 960px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

.hero__motto {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 1;
  color: #52573d;
  background-color: #f3eddf;
  text-transform: uppercase;
  padding: 5px 10px;
  opacity: 0.8;
}
@media screen and (min-width: 960px) {
  .hero__motto {
    font-size: 2rem;
  }
}

.button {
  padding: 10px 15px;
  background-color: #52573d;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 5px 10px #c1c2bb;
}

.button--hover:hover {
  background-color: #eaa80b;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 150px;
  padding: 20px 0;
}
@media screen and (min-width: 960px) {
  .header__logo {
    max-width: 200px;
  }
}

.header__logo-home {
  width: 100%;
}

.menu__toggler {
  cursor: pointer;
  text-transform: uppercase;
  color: #52573d;
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .menu__toggler {
    font-size: 1.2rem;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 20px;
  list-style: none;
  background-color: white;
  text-align: right;
  position: absolute;
  right: 0;
  z-index: 2;
}

.menu__item {
  border-bottom: 1px solid #52573d;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #52573d;
}

.menu__link:active {
  color: #eaa80b;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
  z-index: 2;
}

@media screen and (min-width: 960px) {
  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex !important;
    background-color: white;
  }

  .menu__item {
    border-right: 1px solid #c1c2bb;
    border-bottom: none;
  }

  .menu__item:last-child {
    border-right: none;
  }

  .menu__link {
    color: #52573d;
  }
}
.infoboxes__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media screen and (min-width: 960px) {
  .infoboxes__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.infobox {
  background-color: #f3eddf;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 5px 10px 18px #c1c2bb;
  cursor: pointer;
  transition: transform 0.3s;
}

.infobox:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.infobox__img {
  border-radius: 5px 5px 0px 0px;
}

.infobox__text {
  padding: 0 20px 20px 20px;
  margin-bottom: 0;
}

.infobox__title {
  margin-bottom: 0;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media screen and (min-width: 960px) {
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (min-width: 960px) {
  .gallery__item:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.gallery__item:nth-child(9) {
  display: none;
}
@media screen and (min-width: 960px) {
  .gallery__item:nth-child(9) {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .gallery__item:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.footer {
  text-align: center;
  font-size: 14px;
  background-color: #f3eddf;
  padding: 60px;
}

.footer__title {
  color: #52573d;
}

.footer__street::after,
.footer__mail::after {
  content: " • ";
}

.footer__copy {
  color: #c1c2bb;
  margin-top: 20px;
  font-size: 12px;
}

.fa-facebook-f,
.fa-instagram {
  color: #52573d;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.fa-facebook-f:hover,
.fa-instagram:hover {
  opacity: 0.7;
}

.block {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px;
}

.block:first-child {
  margin-top: 60px;
}

.block__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px dotted #eaa80b;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 960px) {
  .block__img {
    width: 400px;
    height: 400px;
  }
}

.block__text {
  text-align: justify;
}

.block__table {
  text-align: left;
  table-layout: fixed;
  border-spacing: 0px;
  margin: 20px auto;
}

.th,
.td {
  padding: 10px;
  border-bottom: 1px solid #eaa80b;
}

th {
  background-color: #eaa80b;
}

.faq {
  font-size: 18px;
}

.faq__detail[open] .faq__summary ~ * {
  -webkit-animation: open 0.3s ease-in-out;
          animation: open 0.3s ease-in-out;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faq__summary::-webkit-details-marker {
  display: none;
}

.faq__summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #262722;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

.faq__summary:after {
  content: "+";
  color: #262722;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

.faq__detail[open] .faq__summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

.faq__summary {
  outline: 0;
}

.faq__text {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.contact__heading {
  text-transform: uppercase;
}

.contact__flex {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.daisybox__title {
  margin: 0 0 10px 0;
  padding: 0;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
  margin-top: 40px;
}

.box__table {
  border-spacing: 0px;
}

.table__time {
  width: 150px;
  font-weight: bold;
}

.table__time,
.table__item {
  padding: 10px;
  border-bottom: 1px solid #eaa80b;
}

.box__img {
  border-radius: 15px;
  border: 2px dotted #eaa80b;
  padding: 5px;
  height: 100%;
  max-width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box__pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(50px, 180px);
  gap: 2%;
}

.daisybox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.daisybox__icon {
  fill: #AF7D08;
  width: 30px;
  margin-right: 10px;
}

.daisybox__text {
  margin: 0;
}

.team__block {
  text-align: center;
  margin: 40px 0;
}

.block__title {
  margin: 5px 0 0 0;
}

.block__role {
  margin: 0;
  opacity: 0.8;
}

.team__title {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */