@use 'root';

// Template

.news {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

.news__img {
    border-radius: 15px;
    border: 2px dotted root.$color-accent;
    padding: 5px;
    height: 100%;
    max-width: 600px;
    object-fit: cover;
    margin-top: 30px;

    @media screen and (min-width: 960px) {
        height: 80%;
    }
}

.news__meta {
    font-style: italic;
    color: root.$color-lightgrey;
}

.fa-arrow-left-long {
    display: block;
    color: root.$color-primary;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        padding: 0;
    }
}

.fa-arrow-left-long:hover {
    opacity: 0.7;
}


// News list

.newslist {
    text-align: center;
}

.newslist__heading {
    margin-bottom: 0;
    margin-top: 0;

    @media screen and (min-width: 960px) {
        text-align: left;
    }
}

.newslist__heading:before {
    display: none;
}

.newslist__date {
    text-transform: uppercase;
    color: root.$color-accent;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 960px) {
        text-align: right;
    }
}

.newslist__item {
    display: grid;
    grid-template-columns: minmax(auto, 500px);
    border-bottom: 1px solid root.$color-light;
    max-width: 500px;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px;

    @media screen and (min-width: 960px) {
        grid-template-columns: 2fr 1fr;
        gap: 60px;
        max-width: 1300px;
    }
}

.newslist__item:hover {
    background-color: root.$color-light;
}

.newslist__img {
    border-radius: 15px;
    border: 2px dotted root.$color-accent;
    padding: 5px;
    height: 100%;
    max-width: 300px;
    object-fit: cover;

    @media screen and (min-width: 960px) {
        max-width: 400px;
    }
}

@media screen and (min-width: 960px) {
    .newslist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 40px;
    }

    .newslist__grid {
        grid-column: span 2;
        margin-top: 40px;
    }

}