@use 'root';

// Contact

.box__pic--left {
    display: none;

    @media screen and (min-width: 960px) {
        display: block;
    }
}

.daisybox--contact {
    margin-bottom: 60px;
}

.contact__heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 960px) {
        text-align: center;
    }
}

.contact__flex {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.daisybox__title {
    margin: 0 0 10px 0;
    padding: 0;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 60px;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 960px) {
    .contact {
        margin-bottom: 60px;
    }

    .contact__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
}

// Form

.button--contact {
    float: right;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.form {
    border-radius: 5px;
    background-color: root.$color-light;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}