@use 'root';

// Text with a daisy icon

.daisybox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;

    @media screen and (min-width: 960px) {
        margin-bottom: 20px;
    }
}

.daisybox__icon {
    fill: #AF7D08;
    width: 30px;
    margin-right: 10px;
}

.daisybox__text {
    margin: 0;
    text-align: left;
}

.daisybox__title:before {
    display: none;
}