@use 'root';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

// ------- General --------

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #262722;
    background-color: white;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: root.$font-special;
    font-weight: 600;
    color: root.$color-primary;
}

h1 { font-size: 2.2rem; margin-bottom: root.$spacer }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.2rem; }

img {
    width: 100%;
}

a {
    color: #553a41;
}

.infoboxes,
.gallery,
.faq,
.contact,
.about,
.team {
    margin: 60px 0;
}


// .header,
// .infoboxes,
// .gallery,
// .footer {
//     max-width: 1140px;
//     margin: 0 auto;
// }

.header,
.infoboxes,
.gallery,
.regist_wrapper,
.faq,
.contact,
.about,
.team {
    margin-left: 40px;
    margin-right: 40px;
}

// .faq__img {
//     width: 350px;
//     float: right;
// }