@use 'root';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

// ------- General --------

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #262722;
    background-color: white;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: root.$font-special;
    font-weight: 600;
    color: root.$color-primary;
}

h1 { font-size: 2.2rem; margin-bottom: root.$spacer }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.2rem; }

h1,
h2 {
    position: relative;
    z-index: 1;
    display: inline-block;
}

h1:before,
h2:before {
    content: '';
    width: 45%;
    height: 2px;
    background-color: #DADECF;
    left: -8%;
    bottom: -1%;
    position: absolute;
    z-index: -1;
}

img {
    width: 100%;
}

a {
    color: #553a41;
}

.infoboxes,
.gallery,
.faq,
.contact,
.about,
.team,
.newslist,
.references {
    margin: 60px 0;
    padding-left: 40px;
    padding-right: 40px;
}


.infoboxes,
.gallery,
.regist__wrapper,
.faq,
.contact,
.about,
.team,
.newslist,
.news,
.references {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (min-width: 960px) {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 960px) {

    .main {
        max-width: 1300px;
        margin: 0 auto;
    }
}

