@use 'root';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 150px;
    padding: 20px 0;

	@media screen and (min-width: 960px) {
		max-width: 200px;
	}
}

.header__logo-home {
	width: 100%;
}


// ------- Menu --------

.menu__toggler {
	cursor: pointer;
    text-transform: uppercase;
    color: root.$color-primary;
    font-size: 1.5rem;

    @media screen and (max-width: 500px) {
        font-size: 1.2rem;
    }
}

.menu__checkbox {
	position: absolute;
	left: -9999px;
}

.menu__list {
	display: none;
	margin: 0;
	padding: 20px;
	list-style: none;
	background-color: whitesmoke;
    text-align: right;
    position: absolute;
    right: 0;
    z-index: 2;
}

.menu__item {
	border-bottom: 1px solid root.$color-primary;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: root.$color-primary;
}

.menu__link:active {
	color: root.$color-accent;
}

.menu__checkbox:checked ~ .menu__list {
	display: block;
    z-index: 2;
}


@media screen and (min-width: 960px) {
	
	.menu__toggler {
		display: none;
	}

	.menu__list {
		display: flex !important;
        background-color: whitesmoke;
	}

	.menu__item {
		border-right: 1px solid root.$color-lightgrey;
		border-bottom: none;
	}

    .menu__item:last-child {
        border-right: none;
    }

    .menu__link {
        color: root.$color-primary;
    }
}

// .menu__list {
//     list-style: none;
//     display: flex;
//     justify-content: space-evenly;
//     text-transform: uppercase;
//     padding-left: 0;
// }

// .menu__item a {
//     text-decoration: none;
//     color: root.$color-primary;
//     font-family: 'PT Sans Narrow', sans-serif;
// }