@use 'root';

// ------- Hero --------

.hero {
    background-image: linear-gradient(to bottom, rgba(62, 60, 53, 0.3), rgba(33, 31, 24, 0.4)), url(/images/hero.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: calc(100vh - 100px);
    position: relative;
}

.hero__content {
    position: absolute;
    bottom: 40px;
    right: 0;
    margin: 30px;
    text-align: right;
}

.hero__title {
    display: inline-block;
    font-family: root.$font-special;
	font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: root.$color-accent;
    // text-shadow: 1px 1px 1px #262722;
    background-color: root.$color-light;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    opacity: 0.8;

    @media screen and (min-width: 960px) {
        font-size: 1.5rem;
    }
}

.hero__motto {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 1;
    color: root.$color-primary;
    background-color: root.$color-light;
    text-transform: uppercase;
    padding: 5px 10px;
    opacity: 0.8;

    @media screen and (min-width: 960px) {
        font-size: 1.2rem;
    }
}