@use 'root';

// General

.box {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.box__title {
    margin-top: 0;
    margin-bottom: 30px;
}

.box__title,
.box__text,
.box__pic {
    text-align: center;
}

.philosophy {
    margin-bottom: 60px;
    text-align: center;
}

// Table with daily program

.box__table {
    border-spacing: 0px;
}

.table__time {
    width: 150px;
    font-weight: bold;
}

.table__time,
.table__item {
    padding: 10px;
    border-bottom: 1px solid root.$color-accent;
}

// Pictures

.box__img {
    border-radius: 15px;
    border: 2px dotted root.$color-accent;
    padding: 5px;
    height: 100%;
    max-width: 600px;
    object-fit: cover;
    margin-bottom: 40px;

    @media screen and (min-width: 960px) {
        margin-bottom: 0;
    }
}

// Media query

@media screen and (min-width: 960px) {
    .daisybox__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: root.$spacer;
    }

    .box__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 40px;
    }

    .box__info--reverse {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .box__pic--reverse {
        grid-column: 2 / 3;
    }

}










