@use 'root';


.block {
    text-align: center;
    margin-bottom: 60px;
    padding: 0 20px;
}

.block:first-child {
    margin-top: 60px;
}

.block__img {
    border-radius: 15px;
    border: 2px dotted root.$color-accent;
    padding: 5px;
    height: 100%;
    max-width: 600px;
    object-fit: cover;
}

.block__text {
    text-align: justify;
}

.block__table {
    text-align: left;
    table-layout: fixed;
    border-spacing: 0px;
    margin: 20px auto;
}

.th,
.td {
    padding: 10px;
    border-bottom: 1px solid root.$color-accent;
}

th {
    background-color: root.$color-accent;
}






