@use 'root';

// Our team

.team {
    text-align: center;
}

.team-block__title {
    margin: 5px 0 0 0;
    display: block;
}

.team-block__title:before {
    display: none;
}

.team-block__role {
    margin: 0;
    opacity: 0.8;
}

.team__title {
    margin-bottom: 40px;
    margin-top: 0;
}

.team-block__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px dotted root.$color-accent;
    padding: 10px;
    object-fit: cover;

    @media screen and (max-width: 420px) {
        width: 200px;
        height: 200px;
    }
}

.team__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 60px;
        white-space: normal;
    }
}
