@use 'root';

// Our team

.team {
    text-align: center;
}

.team__block {
    margin: 40px 0;

    @media screen and (min-width: 1060px) {
        margin: 0 40px 0 0;
    }
}

.team-block__title {
    margin: 5px 0 0 0;
}

.team-block__title:before {
    display: none;
}

.team-block__role {
    margin: 0;
    opacity: 0.8;
}

.team__title {
    margin-bottom: 0;

    @media screen and (min-width: 1060px) {
        margin-bottom: 40px;
    }
}

.team-block__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dotted root.$color-accent;
    padding: 10px;
    object-fit: cover;
}

@media screen and (min-width: 1060px) {
    
    .team__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 60px;
        white-space: normal;
    }
}