<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMŠ Kopretina</title>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow&family=Truculenta:opsz,wght@12..72,400;12..72,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body>

    <header class="header">
        
        <img class="header__logo" src="/images/LOGO3.svg" alt="logo Kopretiny">
        
        <nav class="menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰</label>

            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/" class="menu__link">Domů</a></li>
                <li class="menu__item"><a class="menu__link" href="/aktuality/" class="menu__link">Aktuality</a></li>
                <li class="menu__item"><a class="menu__link" href="/kopretina/" class="menu__link">O Kopretině</a></li>
                <li class="menu__item"><a class="menu__link" href="/registrace/" class="menu__link">Zapiš se k nám</a></li>
                <li class="menu__item"><a class="menu__link" href="/faq/" class="menu__link">Časté dotazy</a></li>
                <li class="menu__item"><a class="menu__link" href="/kontakt/" class="menu__link">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <h1 class="hero__title">Lesní mateřská škola Kopretina</h1>
    </section>

    <main class="main">

        {{ content | safe }}

    </main>

    <footer class="footer">
        <a href="www.instagram.com" target="_blank">
            <img class="footer__social" src="/images/instagram-brands.svg" alt="Instagram">
        </a>

        <a href="www.facebook.com" target="_blank">
            <img class="footer__social" src="/images/facebook-f-brands.svg" alt="Facebook">
        </a>

        <span class="footer__title"><strong>Lesní mateřská škola Kopretina</strong></span>
        <span class="footer__street">Na louce 252</span>
        <span class="footer__town">Lesov, 30261</span><br>
        <span class="footer__mail"><a href="mailto:kopretina@kopretina.cz">kopretina@kopretina.cz</a></span>
        <span class="footer__phone">+420 712 345 678</span><br>
        <p class="footer__copy">&copy; Šárka Boháčová, Czechitas</p>

    </footer>

</body>
</html>